{% extends 'layout1.html' %}


{% block body  %} 

<style>
  #vc{
    padding: 60px;
  }
</style>
      

           <div class="container-fluid" id="vc">
             
      {% from "includes/_formhelpers.html" import render_field %}
    
               <center>
                <form method='POST' action="">
                  <div class='form-group'>                     
                       {{render_field(form.pathname,class_="form-control")}}                                     
                          </div>   
                          <center><input type="submit"  class="btn btn-primary" name="" value="Submit"> </center>
                          </form>  
               </center> 
        
   
          </div>
              

    

       
     
{% endblock  %}