{% extends 'layout.html' %}


{% block body  %} 


      

           <div class="container-fluid">
            <h1>Insert the MPN</h1>   
      {% from "includes/_formhelpers.html" import render_field %}
       <form method='POST' action=''>
                  <div class='form-group row'>
                      <div class="col-xs-2">
                        {{render_field(form.productid,class_="form-control")}}
                        {{render_field(form.no,class_="form-control")}}
                      </div>
                      
                  </div>
                  <p id="vcm">{{msg}}</p>
                  <p><input type="submit" id="x1"  class="btn btn-primary" name="" value="INSERT"> </p> 
                  
           
        </form> 
       <script >
      document.getElementById("x1").addEventListener("mouseout",myFunction)
        function myFunction() {
          var txt=document.getElementById("vcm").innerText;
          alert(txt);
        }
        </script>
          </div>
              

    

       
     
{% endblock  %}