{% extends 'layout1.html' %}


{% block body  %} 
<style>
  #abc{
    background-color: aqua;
  }
</style>

       <div class="container-fluid" id="abc"> 
      {% from "includes/_formhelpers.html" import render_field %}
       

              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-4">
                    <br><br>
                    <br><br>
                    <h1>Insert</h1>  
                     </div>                    
  
                  <div class="col-sm-3"  >
                    <form method='POST' action="">
                      <div class='form-group'>                     
                            {{render_field(form.part_no,class_="form-control")}} 
                            {{render_field(form.mpn,class_="form-control")}}
                            {{render_field(form.desc,class_="form-control")}}  
                            {{render_field(form.no,class_="form-control")}}
                            {{render_field(form.up,class_="form-control")}}
                            {{render_field(form.tp,class_="form-control")}}                                       
                              </div>   
                              <center><input type="submit" id="x1" class="btn btn-primary" name="" value="Submit"> </center>
                              </form>  
                              
                  </div>
                  <div class="col-sm-5">
                  
                  </div>
                </div>
              </div>
    
       
    </form> 
  
      </div>
          


{% endblock  %}