{% extends 'layout.html' %}


{% block body  %} 


       <div class="container-fluid">
        <h1>Insert</h1>   
      {% from "includes/_formhelpers.html" import render_field %}
       <form method='POST' action="">
              <div class='form-group row'>
                  <div class="col-xs-2">
                    {{render_field(form.productid,class_="form-control")}}  <br>
                    {{render_field(form.package,class_="form-control")}}<br>
                    {{render_field(form.value,class_="form-control")}}  <br>
                    {{render_field(form.units,class_="form-control")}}<br>
                    {{render_field(form.types,class_="form-control")}}<br>
                    {{render_field(form.no,class_="form-control")}}<br>
                    {{render_field(form.id,class_="form-control")}}    <br>              
                    </div>
            
                      </div>
                   
                    
                      

                  
              </div>
              
              <p><input type="submit" class="btn btn-primary" name="" value="Submit"> </p>
    
       
    </form> 
    {%with messages= get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
            <h2>{{message}}</h2>
            {% endfor %}
            {% endif %}
            {% endwith %}
      </div>
          


{% endblock  %}