{% extends 'layout.html' %}


{% block body  %} 
<style>
  #abc{
    background-color: aqua;
  }
</style>

       <div class="container-fluid" id="abc">
        <h1>Insert</h1>   
      {% from "includes/_formhelpers.html" import render_field %}
       

              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-2"> </div>                    
  
                  <div class="col-sm-5">
                    <form method='POST' action="">
                      <div class='form-group'>
                         
                            {{render_field(form.productid,class_="form-control")}}  <br>
                            {{render_field(form.package,class_="form-control")}}<br>
                            {{render_field(form.value,class_="form-control")}}  <br>
                            {{render_field(form.units,class_="form-control")}}<br>
                            {{render_field(form.types,class_="form-control")}}<br>
                            {{render_field(form.no,class_="form-control")}}<br>
                            {{render_field(form.id,class_="form-control")}}    <br>              
                          
                              </div>   
                              <p id="vcm" hidden="true">{{msg}}</p>
                              <center><input type="submit" id="x1" class="btn btn-primary" name="" value="Submit"> </center>
                              </form>  

                              <script >
                                document.getElementById("x1").addEventListener("mouseout",myFunction)                              
                                  function myFunction() {
                                    var txt=document.getElementById("vcm").innerText;         
                                    alert(txt);
                                  }
                                  </script>
                  </div>
                  <div class="col-sm-5">
                  
                  </div>
                </div>
              </div>
    
       
    </form> 
  
      </div>
          


{% endblock  %}