{% extends 'layout.html' %}


{% block body  %} 
<style>
  #dv1{
    background-color:#FFA500;
    background-size: cover;
    padding: 100px;
    border-style: dashed;
    border-color:brown;
}
</style>

<br><br>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-3" id="dv1">
      <br>
      <h2>INSERT By :</h2>   
  
        <button type="button" onclick="myFunction()" class="btn btn-primary">MPN</button><br><br>
        <button type="button" onclick="myFunction1()" class="btn btn-primary">ATTRIBUTES</button>
    </div>
    <div class="col-sm-5">
      
    </div>
  </div>
</div>

<script>
function myFunction() {
  window.open("insertmpn","POPUP","width=400,height=400");
}
function myFunction1() {
  window.open("insert","POPUP","width=1000,height=575");
}
</script>
      

<br><br>
   
</form>  
         
{% endblock  %}