{% extends 'layout.html' %}


{% block body  %} 


     





      <h1>SEARCH </h1> <BR>
      <H3>Search By :</H3>  
    
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SELECT 
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/searchMPN">MPN</a>
          <a class="dropdown-item" href="/srcattrib">Attributes</a>
        </div>
      </div>

   
       

<br><br>
   
</form>  
       
     
     
{% endblock  %}