{% extends 'layout.html' %}


{% block body  %} 
<style>
  #dv1{
    background-color:#FFA500;
    background-size: cover;
}
</style>

      <div class="container-fluid" id="dv1">
        <div class="row">
          <div class="col-sm-4" >
      
          </div>
          <div class="col-sm-7">
            <br><br><br><br><br><br><br>
            <h2>Search By :</h2>   
        
            <button type="button" onclick="myFunction()" class="btn btn-primary">MPN</button>
            <button type="button" onclick="myFunction1()" class="btn btn-primary">ATTRIBUTES</button>
          </div>
          <div class="col-sm-5">
            
          </div>
        </div>
      </div>






<script>
function myFunction() {
  window.open("searchMPN","POPUP","width=900,height=400");
}
function myFunction1() {
  window.open("srcattrib","POPUP","width=1000,height=550");
}
</script>

   
       

<br><br>
   
</form>  
       
     
     
{% endblock  %}