{% extends 'layout.html' %}


{% block body  %} 
<style>
  #dv1{
    background-color:#FFA500;
    background-size: cover;
    padding: 100px;
    border-style: dashed;
    border-color:brown;
}
</style>
<br>
      <div class="container-fluid" >
        <div class="row">
          <div class="col-sm-4" >
      
          </div>
          <div class="col-sm-3" id="dv1">
            <br>
            <h2>Search By :</h2>   
        
            <button type="button" onclick="myFunction()" class="btn btn-primary">MPN</button><br><br>
            <button type="button" onclick="myFunction1()" class="btn btn-primary">ATTRIBUTES</button><br><br>
            <button type="button" onclick="myFunction2()" class="btn btn-primary">INVENTORY DATA</button>
          </div>
          <div class="col-sm-5"> 
          </div>
        </div>
      </div>






<script>
function myFunction() {
  window.open("searchMPN","POPUP","width=950,height=400");
}
function myFunction1() {
  window.open("srcattrib","POPUP","width=1000,height=550");
}
function myFunction2() {
  window.open("searchall","POPUP","width=800,height=300");
}
</script>

   
       

<br><br>
   
</form>  
       
     
     
{% endblock  %}