{% extends 'layout1.html' %}


{% block body  %} 

<div class="container-fluid">
     
    {% from "includes/_formhelpers.html" import render_field %}
  
<div class="container-fluid">
         <div class="row">
           <div class="col-sm-1"></div>
           
           <div class="col-sm-6" id="d1">
               <table class="table table-striped">
                <thead>
                  <tr>
                    <th>PART N0</th>
                    <th>MPN</th>
                    <th>DESCRIPTION</th>
                    <th>QUANTITY</th>
                    <th>UNIT PRICE</th>
                    <th>TOTAL PRICE</th>
                  </tr>
                </thead>
                <tbody>
                    {% for nd1 in nd %}
                  <tr>
                    <td>{{nd1.part_no}}</td>
                    <td>{{nd1.mpn}}</td>
                    <td>{{nd1.description}}</td>
                    <td>{{nd1.quantity}}</td>
                    <td>{{nd1.unit_price}}</td>
                    <td>{{nd1.total_price}}</td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
                 
           </div>
           <div class="col-sm-3"></div>
         </div>
</div>

  </div>   
{% endblock  %}