{% extends 'layout1.html' %}


{% block body  %} 

<div class="container-fluid">
     
    {% from "includes/_formhelpers.html" import render_field %}
  
<div class="container-fluid">
         <div class="row">
           <div class="col-sm-1"></div>
           <div class="col-sm-4">
            <h1>Search BY MPN</h1>  
            <form method='POST' action=''>
              <div class='form-group'>
                  <div class="col-xs-2">{{render_field(form.mpn,class_="form-control")}}</div>
                  
              </div>
  
              <p><input type="submit"  id="x1" class="btn btn-primary" name="" value="SEARCH"> </p>  
    </form> 
   
           </div>
            
           <div class="col-sm-6" id="d1">
               <table class="table table-striped">
                <thead>
                  <tr>
                    <th>PART N0</th>
                    <th>MPN</th>
                    <th>DESCRIPTION</th>
                    <th>QUANTITY</th>
                    <th>UNIT PRICE</th>
                    <th>TOTAL PRICE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{nd.part_no}}</td>
                    <td>{{nd.mpn}}</td>
                    <td>{{nd.description}}</td>
                    <td>{{nd.quantity}}</td>
                    <td>{{nd.unit_price}}</td>
                    <td>{{nd.total_price}}</td>
                  </tr>
                 
                </tbody>
              </table>
                 
           </div>
         </div>
</div>

  </div>   
{% endblock  %}