{% extends 'layout.html' %}


{% block body  %} 
<br>
<br>




       <div class="container-fluid">
      {% from "includes/_formhelpers.html" import render_field %}
    

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
          <h1>Search By Attributes</h1>    
         <form method='POST' action=''>
          <div class='form-group row'>
              <div class="col-xs-2">
                {{render_field(form.package,class_="form-control")}}
                {{render_field(form.value,class_="form-control")}}  
                {{render_field(form.units,class_="form-control")}}
                {{render_field(form.types,class_="form-control")}}
                </div>
              
          </div>
          <p id="vcm" hidden="true">{{msg}}</p>
          <p><input type="submit" id="x1" class="btn btn-primary" name="" value="Search"> </p>
   
</form> 
<script >
  document.getElementById("x1").addEventListener("mouseout",myFunction)
    function myFunction() {
      var txt=document.getElementById("vcm").innerText;
      alert(txt);
    }
    </script>
        </div>
       
        <div class="col-sm-6" id="d1">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>MPN</th>
                <th>PACKAGE</th>
                <th>VALUE</th>
                <th>UNITS</th>
                <th>TYPES</th>
                <th>QUANTITY</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{nd[0]}}</td>
                <td>{{nd[1]}}</td>
                <td>{{nd[2]}}</td>
                <td>{{nd[3]}}</td>
                <td>{{nd[4]}}</td>
                <td>{{nd[5]}}</td>
                <td>{{nd[6]}}</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
</div>












      </div>

       

{% endblock  %}